openapi: 3.1.0
info:
  title: Pushover Message Apps API
  version: 1.0.0
  description: 'Pushover is a push notification service that delivers real-time

    notifications to phones, tablets, desktops, and watches. The Message

    API accepts HTTPS POSTs with an application API token and recipient

    user/group key to send formatted messages with priorities, sounds,

    images, and supplementary URLs. Additional endpoints expose

    validation, sounds, application rate limits, and receipts for

    priority-2 emergency messages.

    '
  contact:
    name: Pushover
    url: https://pushover.net
servers:
- url: https://api.pushover.net/1
  description: Pushover Message API
tags:
- name: Apps
paths:
  /apps/limits.json:
    get:
      summary: Application rate limit status
      operationId: getAppLimits
      parameters:
      - name: token
        in: query
        required: true
        description: Application API token.
        schema:
          type: string
      responses:
        '200':
          description: Current limits.
          content:
            application/json:
              schema:
                type: object
                properties:
                  limit:
                    type: integer
                  remaining:
                    type: integer
                  reset:
                    type: integer
                    description: Unix timestamp when the count resets.
      tags:
      - Apps
externalDocs:
  description: Pushover API documentation
  url: https://pushover.net/api
