openapi: 3.1.0
info:
  title: Pushover Message Apps Users API
  version: 1.0.0
  description: 'Pushover is a push notification service that delivers real-time

    notifications to phones, tablets, desktops, and watches. The Message

    API accepts HTTPS POSTs with an application API token and recipient

    user/group key to send formatted messages with priorities, sounds,

    images, and supplementary URLs. Additional endpoints expose

    validation, sounds, application rate limits, and receipts for

    priority-2 emergency messages.

    '
  contact:
    name: Pushover
    url: https://pushover.net
servers:
- url: https://api.pushover.net/1
  description: Pushover Message API
tags:
- name: Users
paths:
  /users/validate.json:
    post:
      summary: Validate a user or group key
      operationId: validateUser
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - token
              - user
              properties:
                token:
                  type: string
                  description: Application API token.
                user:
                  type: string
                  description: User or group key to validate.
                device:
                  type: string
                  description: Specific device to validate.
      responses:
        '200':
          description: Validation result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  devices:
                    type: array
                    items:
                      type: string
                  licenses:
                    type: array
                    items:
                      type: string
      tags:
      - Users
externalDocs:
  description: Pushover API documentation
  url: https://pushover.net/api
